@model IEnumerable<Vacunacion.Models.Brigade>

@{
    ViewData["Title"] = "Index";
}
<style>
    .custom-table {
        border: 1px solid transparent;
    }

        .custom-table th {
            background-color: transparent;
            color: white;
        }

        .custom-table td {
            background-color: transparent;
            color: white;
        }

        .custom-table tbody tr {
            border-top: 1px solid #111316;
        }
</style>
<h1>Brigada</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="table-responsive">
    <table class="table custom-table">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
            @*    <th>@Html.DisplayNameFor(model => model.Latitude)</th>
                <th>@Html.DisplayNameFor(model => model.Longitude)</th>*@
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
             @*       <td>@Html.DisplayFor(modelItem => item.Latitude)</td>
                    <td>@Html.DisplayFor(modelItem => item.Longitude)</td>*@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BrigadeId" class="btn btn-info">Edit</a> 
                    @*    <a asp-action="Details" asp-route-id="@item.BrigadeId" class="btn btn-primary">Details</a> *@
                        <a asp-action="Delete" asp-route-id="@item.BrigadeId" style="margin-left:10%" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Menu" asp-action="MenuAdmin">
            <i class="fas fa-user"></i>
            <span>Menu</span>
        </a>
    </li>
</ul>


