@model IEnumerable<Vacunacion.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Persona</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-striped custom-table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Segundo Apellido</th>
                <th scope="col">Telefono</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.SecondLastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PersonID" class="btn btn-success btn-sm">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.PersonID" class="btn btn-danger btn-sm" style="margin-left:10%">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Menu" asp-action="MenuSuperAdmin">
                <i class="fas fa-user"></i>
                <span>Menu</span>
            </a>
        </li>
    </ul>
</div>

<style>
    .custom-table {
        border: 1px solid transparent;
    }

        .custom-table th {
            background-color: transparent;
            color: white;
        }

        .custom-table td {
            background-color: transparent;
            color: white;
        }

        .custom-table tbody tr {
            border-top: 1px solid #111316;
        }
</style>